<div id="page-content">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Machine Learning Knowledge Base</h1>
    <p class="lead">Hey there!</p>
    <hr class="my-4">
    <p>This is a community of friendly people that like to learn and teach about machine learning. If you're cast in the same mold, we'd love to have you as a member.</p>
    <%= link_to "Yes, sign me up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy 2020; <%= link_to "Marco Besier", "https://marcobesier.com", class: "text-white" %></small>
  </div>
</footer>
